<div class="column-container">
  <div class="header">
    <h1>The Biggest Square in There</h1>
    <h2>{{calcBoxEdge()}} x {{calcBoxEdge()}}</h2>
  </div>
  <div class="body">
    <div class="vertical-buttons">
      <button mat-mini-fab>
        <mat-icon>shuffle</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>check</mat-icon>
      </button>
    </div>
    <form>
      <div *ngFor="let row of matrix.ngModelData"
            class="checkbox-row">
        <mat-checkbox *ngFor="let col of row"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="col.checked"
                      color="primary">
        </mat-checkbox>
      </div>
    </form>
    <div class="vertical-buttons">
      <button mat-mini-fab
              (click)="addCol()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab
              color="warn"
              (click)="removeCol()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div class="footer">
    <button mat-mini-fab
            (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab
            color="warn"
            (click)="removeRow()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>